.sidebarFriend {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}